.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  justify-content: center;
  background-image: url("./Assets/images//MicrosoftTeams-image.png");
  background-color: #2a5d85;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.87;
}
