.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}
.Footer-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17.7688px;
  line-height: 27px;
  color: #000000;
  opacity: 0.5;
}
.Copyright{
    margin: 0 0.2rem;
    color: #818181;
    border: 1.78px solid #818181;
    
}
