.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
}
.Header-link {
  margin: 0 1rem;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
.Login-button {
  margin: 0 0.67rem;
  font-weight: 600;
  padding: 0.63rem 1.7rem;
  color: #fff;
  width: 7.5rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  background: linear-gradient(
    183.38deg,
    rgba(79, 175, 224, 0.86) -305.22%,
    rgba(28, 70, 108, 0.86) 97.21%
  );
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.03);
  border-radius: 4px;
}
