.Verify-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
.Verify-mail {
  margin: 3.4rem 0;
}
.Verify-re {
  margin: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.Send-again {
  color: #1c466c;
}
.decor{
    text-decoration: underline;
    cursor: pointer;
}