.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
  background: rgba(255, 255, 255);
  box-shadow: -5px 0px 18px rgba(0, 0, 0, 0.09);
  border-radius: 20px;
 
}
.Login-head {
  margin: 0;
  margin-top: 4rem;
  font-style: normal;
  font-weight: 600;
  font-size: 40.3799px;
  line-height: 61px;

  color: #1c466c;
}
.Login-subhead {
  margin: 0;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #2b2a2a;
  opacity: 0.61;
}
label {
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  color: #000000;
}
input {
  opacity: 0.17;
  border: 1.30258px solid #2b2a2a;
  display: block;
  width: 460px;
  height: 42px;
  margin: 0.5rem 0 1.5rem 0;
}

.Login-btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  /* identical to box height */

  color: #ffffff;
  width: 461px;
  height: 51px;
  box-sizing: border-box;
  margin-bottom: 4rem;

  background: linear-gradient(
    162.38deg,
    rgba(79, 175, 224, 0.86) -487.59%,
    rgba(50, 115, 158, 0.86) -334.71%,
    rgba(28, 70, 108, 0.86) 87.95%
  );
  border-radius: 4px;
}
.Login-forget {
  margin-bottom: 2.5rem;
  align-self: flex-start;
  text-decoration: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #1c466c;
}
